# Data Management Python: A comprehensive Excercise

### 1) Load the following python libraries pandas, numpy, matplotlib, os, and other you see necessary as you work

Below is how you install (commented) and load different libraries.

In [4]:
## pip install numpy
# import numpy library as np 
import numpy as np 

## pip install pandas
# import pandas library as pd 
import pandas as pd 

# import matplotlib.pyplot library as plt 
import matplotlib.pyplot as plt

# importing os module
import os

#pip install plotnine --user
## https://plotnine.readthedocs.io/en/stable/tutorials/miscellaneous-altering-colors.html
import plotnine as pltnine
from plotnine import *

%matplotlib inline

### 2) Import the following .csv (https://raw.github.com/pandas-dev/pandas/main/pandas/tests/io/data/csv/tips.csv") file:

In [6]:
#read in the  tips data
tips = pd.read_csv("https://raw.github.com/pandas-dev/pandas/main/pandas/tests/io/data/csv/tips.csv")
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

### 3) Use the pandas to_stata and from from_stata functions to export the data as a stata file and import this back into python.

For this question, we use the `tips` dataset , convert it to a Stata file and then load it back.

In [9]:
# Check whether data folder exists or not
isExist = os.path.exists('data')
if not isExist:
   # Create a new directory because it does not exist 
  os.mkdir('data') 
  print("The data directory is created!")
## save the tips file to Stata
tips.to_stata('data/tips.dta')

In [12]:
##import the tips Stata data 
tips_dta = pd.read_stata('data/tips.dta') 
tips_dta

     index  total_bill   tip     sex smoker   day    time  size
0        0       16.99  1.01  Female     No   Sun  Dinner     2
1        1       10.34  1.66    Male     No   Sun  Dinner     3
2        2       21.01  3.50    Male     No   Sun  Dinner     3
3        3       23.68  3.31    Male     No   Sun  Dinner     2
4        4       24.59  3.61  Female     No   Sun  Dinner     4
..     ...         ...   ...     ...    ...   ...     ...   ...
239    239       29.03  5.92    Male     No   Sat  Dinner     3
240    240       27.18  2.00  Female    Yes   Sat  Dinner     2
241    241       22.67  2.00    Male    Yes   Sat  Dinner     2
242    242       17.82  1.75    Male     No   Sat  Dinner     2
243    243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 8 columns]

### 4) Show the first 15  observations, count how many rows are in the dataset and show the last 4 observations.

We use the loaded Stata data to show the first 15 observations and count the rows in the data

In [15]:
## Select first 15 rows.
## Remember python starts from zero
tips_dta.head(15)

    index  total_bill   tip     sex smoker  day    time  size
0       0       16.99  1.01  Female     No  Sun  Dinner     2
1       1       10.34  1.66    Male     No  Sun  Dinner     3
2       2       21.01  3.50    Male     No  Sun  Dinner     3
3       3       23.68  3.31    Male     No  Sun  Dinner     2
4       4       24.59  3.61  Female     No  Sun  Dinner     4
5       5       25.29  4.71    Male     No  Sun  Dinner     4
6       6        8.77  2.00    Male     No  Sun  Dinner     2
7       7       26.88  3.12    Male     No  Sun  Dinner     4
8       8       15.04  1.96    Male     No  Sun  Dinner     2
9       9       14.78  3.23    Male     No  Sun  Dinner     2
10     10       10.27  1.71    Male     No  Sun  Dinner     2
11     11       35.26  5.00  Female     No  Sun  Dinner     4
12     12       15.42  1.57    Male     No  Sun  Dinner     2
13     13       18.43  3.00    Male     No  Sun  Dinner     4
14     14       14.83  3.02  Female     No  Sun  Dinner     2

In [20]:
#Counting the number of rows using the shape function
count_row = tips_dta.shape[0]  # Gives number of rows, to count the columns shape[1]

#you can estimate the rows by estimating the length of a non missing variable like index
count_len = len(tips_dta.index)

print("Number of rows from shape", count_row , " and from Len", count_len)

Number of rows from shape 244  and from Len 244

### 5) Create two new variables (columns) half_bill which is 50% of the total bill and perc_bill (percentage bill) which show the % of the tips for each total bill.

In [22]:
#half_bill which is 50% of the total bill
##Compute and append half_bill to  tips_dta
tips_dta['half_bill'] = tips_dta.total_bill/2
tips_dta

     index  total_bill   tip     sex smoker   day    time  size  half_bill
0        0       16.99  1.01  Female     No   Sun  Dinner     2      8.495
1        1       10.34  1.66    Male     No   Sun  Dinner     3      5.170
2        2       21.01  3.50    Male     No   Sun  Dinner     3     10.505
3        3       23.68  3.31    Male     No   Sun  Dinner     2     11.840
4        4       24.59  3.61  Female     No   Sun  Dinner     4     12.295
..     ...         ...   ...     ...    ...   ...     ...   ...        ...
239    239       29.03  5.92    Male     No   Sat  Dinner     3     14.515
240    240       27.18  2.00  Female    Yes   Sat  Dinner     2     13.590
241    241       22.67  2.00    Male    Yes   Sat  Dinner     2     11.335
242    242       17.82  1.75    Male     No   Sat  Dinner     2      8.910
243    243       18.78  3.00  Female     No  Thur  Dinner     2      9.390

[244 rows x 9 columns]

In [23]:
# perc_bill (percentage bill) which show the % of the tips for each total bill.
tips_dta['perc_bill'] = (tips_dta.tip/tips_dta.total_bill)*100
tips_dta

,index,total_bill,tip,sex,smoker,day,time,size,half_bill,perc_bill
0,0,16.99,1.01,Female,No,Sun,Dinner,2,8.495,5.944673
1,1,10.34,1.66,Male,No,Sun,Dinner,3,5.170,16.054159
2,2,21.01,3.50,Male,No,Sun,Dinner,3,10.505,16.658734
3,3,23.68,3.31,Male,No,Sun,Dinner,2,11.840,13.978041
4,4,24.59,3.61,Female,No,Sun,Dinner,4,12.295,14.680765
...,...,...,...,...,...,...,...,...,...,...
239,239,29.03,5.92,Male,No,Sat,Dinner,3,14.515,20.392697
240,240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.590,7.358352
241,241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.335,8.822232
242,242,17.82,1.75,Male,No,Sat,Dinner,2,8.910,9.820426
243,243,18.78,3.00,Female,No,Thur,Dinner,2,9.390,15.974441

### 6. Perform relevant descriptive statistics on each and every one of these variables.
We will use the describe function to get all the relevant desctriptive statistics

In [31]:
#we estimate all the relevant descriptive stats using describe function
## you can also do median = tips_dta['half_bill'].median()
tips_dta['half_bill'].describe()

count    244.000000
mean       9.892971
std        4.451206
min        1.535000
25%        6.673750
50%        8.897500
75%       12.063750
max       25.405000
Name: half_bill, dtype: float64

In [29]:
#we estimate all the relevant descriptive stats using describe function
tips_dta['perc_bill'].describe()

count    244.000000
mean      16.080258
std        6.107220
min        3.563814
25%       12.912736
50%       15.476977
75%       19.147549
max       71.034483
Name: perc_bill, dtype: float64

### 7. Perform descriptive statistics and use the groupby function

We group our data by sex and then estimate the stats

In [35]:
# Group data by sex then estimate the descriptive stats
grouped_tips_df = tips_dta.groupby('sex')
grouped_tips_df['half_bill'].describe()

       perc_bill                                                       \
           count       mean       std       min        25%        50%
sex
Female      87.0  16.649074  5.363173  5.643341  14.041645  15.558149
Male       157.0  15.765055  6.477787  3.563814  12.138869  15.349194

                             half_bill                                     \
              75%        max     count       mean       std    min    25%
sex
Female  19.426621  41.666667      87.0   9.028448  4.004604  1.535  6.375
Male    18.623962  71.034483     157.0  10.372038  4.623234  3.625  7.000


          50%     75%     max
sex
Female  8.200  10.760  22.150
Male    9.175  12.355  25.405

In [34]:
# Group data by sex then estimate the descriptive stats
grouped_tips_df['perc_bill'].describe()

        count       mean       std    min    25%    50%     75%     max
sex
Female   87.0   9.028448  4.004604  1.535  6.375  8.200  10.760  22.150
Male    157.0  10.372038  4.623234  3.625  7.000  9.175  12.355  25.405

In [36]:
##try this
grouped_tips_df[['perc_bill','half_bill']].describe()

       perc_bill                                                       \
           count       mean       std       min        25%        50%
sex
Female      87.0  16.649074  5.363173  5.643341  14.041645  15.558149
Male       157.0  15.765055  6.477787  3.563814  12.138869  15.349194

                             half_bill                                     \
              75%        max     count       mean       std    min    25%
sex
Female  19.426621  41.666667      87.0   9.028448  4.004604  1.535  6.375
Male    18.623962  71.034483     157.0  10.372038  4.623234  3.625  7.000


          50%     75%     max
sex
Female  8.200  10.760  22.150
Male    9.175  12.355  25.405

### 8. Merging and appending the data:
  a. Slice the full data into two parts based on the variables and ensure you keep a common index variable.    
  b. Use any appropriate merge to bring these data back together   
  c. Cut the data into two parts, rows above and some below with the same variable names  
  d. Use the appropriate appending functions to rejoin these two together

#### a. Slice the full data into two parts based on the variables and ensure you keep a common index variable.

In [48]:
##Create subset 1
tips_dta.shape
tips_sub1 = tips_dta[["index","total_bill", "tip","half_bill","perc_bill"]]
tips_sub1

     index  total_bill   tip  half_bill  perc_bill
0        0       16.99  1.01      8.495   5.944673
1        1       10.34  1.66      5.170  16.054159
2        2       21.01  3.50     10.505  16.658734
3        3       23.68  3.31     11.840  13.978041
4        4       24.59  3.61     12.295  14.680765
..     ...         ...   ...        ...        ...
239    239       29.03  5.92     14.515  20.392697
240    240       27.18  2.00     13.590   7.358352
241    241       22.67  2.00     11.335   8.822232
242    242       17.82  1.75      8.910   9.820426
243    243       18.78  3.00      9.390  15.974441

[244 rows x 5 columns]

In [49]:
##Create subset 2
tips_sub2 = tips_dta[["index","sex", "smoker","day","time","size"]]
tips_sub2

     index     sex smoker   day    time  size
0        0  Female     No   Sun  Dinner     2
1        1    Male     No   Sun  Dinner     3
2        2    Male     No   Sun  Dinner     3
3        3    Male     No   Sun  Dinner     2
4        4  Female     No   Sun  Dinner     4
..     ...     ...    ...   ...     ...   ...
239    239    Male     No   Sat  Dinner     3
240    240  Female    Yes   Sat  Dinner     2
241    241    Male    Yes   Sat  Dinner     2
242    242    Male     No   Sat  Dinner     2
243    243  Female     No  Thur  Dinner     2

[244 rows x 6 columns]

#### b. Use any appropriate merge to bring these data back together

In [54]:
#subset 1
print(tips_sub1.head(5))
##subset 2
print(tips_sub2.head(5))

## merge the data subsets
tips_merge = pd.merge(tips_sub1,tips_sub2, how='left', on='index')
tips_merge

   index  total_bill   tip  half_bill  perc_bill
0      0       16.99  1.01      8.495   5.944673
1      1       10.34  1.66      5.170  16.054159
2      2       21.01  3.50     10.505  16.658734
3      3       23.68  3.31     11.840  13.978041
4      4       24.59  3.61     12.295  14.680765
   index     sex smoker  day    time  size
0      0  Female     No  Sun  Dinner     2
1      1    Male     No  Sun  Dinner     3
2      2    Male     No  Sun  Dinner     3
3      3    Male     No  Sun  Dinner     2
4      4  Female     No  Sun  Dinner     4

,index,total_bill,tip,half_bill,perc_bill,sex,smoker,day,time,size
0,0,16.99,1.01,8.495,5.944673,Female,No,Sun,Dinner,2
1,1,10.34,1.66,5.170,16.054159,Male,No,Sun,Dinner,3
2,2,21.01,3.50,10.505,16.658734,Male,No,Sun,Dinner,3
3,3,23.68,3.31,11.840,13.978041,Male,No,Sun,Dinner,2
4,4,24.59,3.61,12.295,14.680765,Female,No,Sun,Dinner,4
...,...,...,...,...,...,...,...,...,...,...
239,239,29.03,5.92,14.515,20.392697,Male,No,Sat,Dinner,3
240,240,27.18,2.00,13.590,7.358352,Female,Yes,Sat,Dinner,2
241,241,22.67,2.00,11.335,8.822232,Male,Yes,Sat,Dinner,2
242,242,17.82,1.75,8.910,9.820426,Male,No,Sat,Dinner,2
243,243,18.78,3.00,9.390,15.974441,Female,No,Thur,Dinner,2